// COLORS
$primary-color: #0c7489;
$secondary-color: #0c7489;

$white-color: #f2f2f2;

$dark-grey: #2f2f2f;

$dark-blue-text: rgb(1, 18, 36); // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
